*{
  box-sizing: border-box;
  margin: 0;
}



body{
  margin: 0;
  background: linear-gradient(to left bottom, rgb(205, 226, 19), rgb(7, 255, 102) );
  display: flex;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container{
  background: rgba(239, 243, 13, 0.329);
  display: flex;
  flex-direction: column;
  padding: 30px;
  border-radius: 15px;
  box-shadow: 0 15px 15px rgba(0,0,0, .3);
  margin: 5px;
  width: 400px;
}

.heading{
  font-size: 40px;
}

.input{
  padding: 15px 25px;
  background: rgba(239, 243, 13, 0.5);
  border-color: rgba(239, 243, 13, 0.6);
  margin: 12px;
  font-weight: bolder;
  font-size: larger;
  
}

.btn{
  background-color: rgba(13, 235, 13, 0.582);
  border: 10px;
  padding: 15px 25px;
  border-radius: 10px;
  margin: 10px;
  font-size: 25px;
  font-weight: bolder;
  box-shadow: 0 0 7px rgba(0,0,0, .3);
  cursor: pointer;
}

.btn:hover{
  box-shadow: 0 0 15px rgba(0,0,0, .3);
  transition: all 450ms ease;
}

.info-text{
  font-size: 25px;
  font-weight: 700;
}

